body{
	margin-top: 15px;
	/*margin-left: -2vw;*/
	/*margin-right: -2vw;*/
	/*font-family: 'Roboto Slab', Arial, serif; font-weight: 400; */
}

.tabs, title, ul, li, h1, h2, h3, h4, h5, h6{
	/*font-family: 'Roboto Slab', serif;*/
}

h4{
	margin-top: 0px;
}

.alltabs{
	margin-left: -2vw;
}

.myname{
    margin-top:5px;
	color: #333366;
	font-size: 166%;
}

.tabs dd.active a, .tabs .tab-title.active a{
	background-color: #5555A9;
}

a, a:link {
	color: #3366FF;
}

a:hover{
	color:#47D4FF;
}

a:visited{
	color:#1A337F;
}

p{
	font-size: 1em;
}

/*.homebody{
	padding-top:10px;
}*/

.photo{
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact-info{
	font-size: 0.9em;

}
.footer{
	font-size: 0.9em;
}

.less-spacing{
	line-height: 1.35em;
}

.tab-stuff{
	padding-top: 37px;
	padding-left:5vw;
	padding-right:-5vw;
}

.venue{
	font-family: Arial, serif; font-weight: 300; 
	font-size: 0.9em;

}
