html, body {
  height: 100%;
  margin: 0
}



.h5{
  float:left;
}

.projectHeader{
  padding-top:1vh;
  max-width: 85vw;
  display: flex; 
  vertical-align: middle;
  /*max-height: 8vh;*/
}

.projectHeaderText{
  max-width: 70vw;
  float:left;
  vertical-align: middle;
  margin-top: auto; /* Important */
  margin-bottom: auto; /* Important */
}

.projectPic{
  /*max-width: 14vw;*/
  max-height: 7vh;
  float:left;
  vertical-align: middle;
  padding-left:2vw;
  margin-top: auto; /* Important */
  margin-bottom: auto; /* Important */
}

.iconList{
  padding:0 0 2% 0;
  display: flex; 
}

.iconPar{
  margin-left: 2%;
  margin-top: auto; /* Important */
  margin-bottom: auto; /* Important */
}

.icon{
  /*max-width: 10vw;*/
  max-height: 7vh;
  float: left;
  margin-top: auto; /* Important */
  margin-bottom: auto; /* Important */
}

#photoDiv {
  padding-left:3.5%;
  padding-top:1%;
  /*margin-top:0.5em;*/
  padding-right:2%;
  flex: none;
  max-width: 15%;
}

#links{
  padding-top: 0.2em;
}

.tabContent{
    flex:1;
    padding-left:1%;
    padding-right: 3%;
    padding-top:1%;
    /*margin-top:0.5em;*/
}

.firstResearch {
  margin-top:-0.21em;
  padding-top:0;
}


.first {
  font-weight:200;
  margin-top:-0.15em;
  margin-bottom:2%;
  padding-top:0;
  font-size: 150%;
  font-family: Arial, serif;
}



.last{
  padding-bottom: 1em;
}


h4{
  font-weight:200;
    margin-top:3em;
    margin-bottom:2%;
    padding-top:0;
    font-size: 150%;
    font-family: Arial, serif;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

}

.column {
  height: 100%;
  top: 0;
}

.name {
  font-weight:normal;
  padding-top:1%;
    color: #333366;
}

.left-column {
  float:left;
}

.header {
  width: 100%;
  /*max-height: 17%;*/
  /*overflow: hidden;*/
  flex: 0 0 auto;
  margin-top:0;
  /*display:block;*/
}

.header .title {
  width: 98.5%;
  /*height: 18%;*/
  top: 0;
  padding-left: 1.5%;
}

.header .title h1 {
  margin: 14px 0 0 25px;
  font-size: 250%;
  font-family: sans-serif;
}

.list{
  margin-top: 1em;
}

.menu:last-child{
  position: relative;
  left: 6px;
}

.menu:last-child .fa{
  position: relative;
  left:-2px;
}

.header .title p {
  margin: 0 0 0 25px;
  padding-left:0.1%;
  font-size: 90%;
  font-family: sans-serif;
}

.header h1, .header p {
  font-family: sans-serif;
}

.header a {
    margin-top: 0;
  padding-top: 0;
  text-decoration: underline;
  cursor: pointer;
}

.menu {
  text-decoration: none;
  font-size: 90%;
  font-family: sans-serif;
  cursor: pointer;
  /*text-align: right;*/
}

#menu {
  text-align: right;
  margin-top: 1.5em;
  /*margin-top: 0;*/
  padding-top: 0;
  padding-right: 3%;
  float: right;
}

.menu a  {
  margin-top: 0;
  padding-top: 0;
  text-decoration: none;
  color: black;
}

.menu.selected, .menu.selected a {
  color: #5555A9; 
  font-weight: bold; 
}

.menu:hover {
  color: #9696CA; 
}

.menu a:hover {
  text-decoration: underline;
  color: #9696CA;
}

#photoDiv img {
    width: 100%;
}



#bodyContent{
  clear:both;
  padding: 0;
  height: 83%;
  display: flex;
  flex-flow: row;
  width: 100%; 
}

#selectPubs{
    font-family: Arial, serif;
    font-size: 0.9em;
}


#pubs{
  margin:0;
  display: inline-block;
}

#cv {
  flex: 1;
  height: 100%;
  overflow:hidden;
}

#cvText p{ 
  margin-top:-0.15em;
  padding-right:3%;
  font-size: 14pt;
}

#about p{ 
  margin-top:-0.15em;
  padding-right:3%;
  font-size: 14pt;
}

#about a {
  text-decoration: none;
  color: #5555A9;
}

h2 {
    margin-top: 2%;
}

.footer {
    font-size: 0.9em;
}

.less-spacing {
    line-height: 1.35em;
}

.venue {
    font-family: Arial, serif;
    font-weight: 100;
    font-size: 95%;
    line-height: 1.5;
}

.authors {
    font-family: Arial, serif;
    font-weight: 300;
    font-size: 90%;
    line-height: 1.5;
}

h5 {
    font-family: Arial, serif;
    margin-top: 1%;
    margin-bottom:1%;
    font-size: 110%;
    font-weight:150;
}

.pubTitle {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.5;
}

.title {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 100%;
}

.award {
    font-family: Arial, serif;
    font-style: italic;
    color: #5555A9;
    font-size: 80%;
    line-height: 1.5;
}

