html, body {
  height: 100%;
  margin: 0
}

.iconList{
  padding-bottom:0.2em;
}

.h5{
  float:left;
}

.projectPic{
  /*float:right;*/
  max-height: 8vh;
  max-width: 10vw;
  padding-left:1vw;
}

.iconPar{
  padding-top:1%;
  padding-left: 11vw;
}

#photoDiv {
  padding-left:3.5%;
  padding-top:1%;
  /*margin-top:0.5em;*/
  padding-right:2%;
  flex: none;
  max-width: 15%;
}

#links{
  padding-top: 0.2em;
}

.tabContent{
    flex:1;
    padding-left:1%;
    padding-right: 3%;
    padding-top:1%;
    /*margin-top:0.5em;*/

}

.first {
  font-weight:200;
    margin-top:-0.15em;
    margin-bottom:2%;
    padding-top:0;
    font-size: 150%;
    font-family: Arial, serif;
}

.icon{
  width: 10vw;
  float:left;
}

.last{
  padding-bottom: 1em;
}


h4{
  font-weight:200;
    margin-top:3em;
    margin-bottom:2%;
    padding-top:0;
    font-size: 150%;
    font-family: Arial, serif;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;

}

.column {
  height: 100%;
  top: 0;
}

.name {
  font-weight:normal;
  padding-top:1%;
    color: #333366;
}

.header {
  width: 100%;
  max-height: 17%;
  /*overflow: hidden;*/
  flex: 0 0 auto;
  margin-top:0;
  /*display:block;*/
}

.header .title {
  width: 98.5%;
  height: 18%;
  top: 0;
  padding-left: 1.5%;
}

.header .title h1 {
  margin: 14px 0 0 25px;
  font-size: 250%;
  font-family: sans-serif;
}

.list{
  margin-left: 1.5em;
}

.header .title p {
  margin: 0 0 0 25px;
  padding-left:0.1%;
  font-size: 90%;
  font-family: sans-serif;
}

.header h1, .header p {
  font-family: sans-serif;
}

.header a {
    margin-top: 0;
  padding-top: 0;
  text-decoration: underline;
  cursor: pointer;
}

.menu {
  text-decoration: none;
  font-size: 90%;
  font-family: sans-serif;
  cursor: pointer;
  float: right;
}

#menu {
  margin-top: 0;
  padding-top: 0;
  padding-right: 3%;
  float: right;
}

.menu a  {
  margin-top: 0;
  padding-top: 0;
  text-decoration: none;
  color: black;
}

.menu.selected, .menu.selected a {
  color: #5555A9; 
  font-weight: bold; 
}

.menu:hover {
  color: #9696CA; 
}

.menu a:hover {
  text-decoration: underline;
  color: #9696CA;
}

#photoDiv img {
    width: 100%;
}



#bodyContent{
  padding: 0;
  height: 83%;
  display: flex;
  flex-flow: row;
  width: 100%; 
}

#selectPubs{
    font-family: Arial, serif;
    font-size: 0.9em;
    /*overflow: scroll;*/
}


#pubs{
  margin:0;
  display: inline-block;
  /*overflow: scroll;*/
}

#cv {
  flex: 1;
  height: 100%;
  overflow:hidden;
}

#about p{ 
  margin-top:-0.15em;
  padding-right:3%;
  font-size: 14pt;
}

#about a {
  text-decoration: none;
  color: #5555A9;
}

h2 {
    margin-top: 2%;
}

.footer {
    font-size: 0.9em;
}

.less-spacing {
    line-height: 1.35em;
}

.venue {
    font-family: Arial, serif;
    font-weight: 100;
    font-size: 95%;
}

.authors {
    font-family: Arial, serif;
    font-weight: 300;
    font-size: 90%;
}

h5 {
    font-family: Arial, serif;
    margin-top: 1%;
    margin-bottom:1%;
    font-size: 110%;
    font-weight:150;
}

.title {
    font-family: Arial, serif;
    font-weight: bold;
    font-size: 100%;
}

.award {
    font-family: Arial, serif;
    font-style: italic;
    color: #5555A9;
    font-size: 80%;
}

